<div class="animated pulse infinite">
<span class="cursor" ng-show="$ctrl.isPlayerOnline">
        <span class="blue-text glow-blue waves-effect waves-light btn-flat animated fadeIn" class="blue-text">
                <i class="{{$ctrl.size}} material-icons">remove_red_eye</i>
        </span> &nbsp;
<span class="waves-effect waves-light btn-flat white-text animated fadeIn" ng-click="$ctrl.pm()">
        <i class="{{$ctrl.size}} material-icons">message</i>
</span>&nbsp;
<span class="waves-effect waves-light btn-flat white-text animated fadeIn" ng-click="$ctrl.punishModal()">
        <i class="{{$ctrl.size}} material-icons">pan_tool</i>
</span>
</span>&nbsp;
</div>
