body {
    background: #020B21;
    color:white;
}

.container {
    text-align:center;
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
}

.page-header:after {
    content:"to UtAdmin";
}

.clearfix p a {
    display: none;
}

.form-horizontal {
    display: inline-flex;
}

.form-horizontal fieldset {
    padding-bottom:0;
    padding-top:20px;
    background: #051437;
    border:1px solid #2A3F6F;
    text-align: left;
}

.form-actions{
    text-align: center;
}

.help-block {
    display:none;
}

a {
    text-decoration: none;
    color:white;
}

input {
    outline: none;
    margin-top:5px;
    border-radius: 2px;
    height:28px;
    border:none;
    font-size: large;
}

button {
    height:28px;
    border-radius: 2px;
    margin:10px;
    margin-top:20px;
    border:0;
    outline: none;
    font-size:large;
    color:white;
    background:#2A3F6F;
    transition: 200ms;
    cursor: pointer;
}

button:hover {
    background: #345591;
    transition: 200ms;
}

button:active {
    background: #2e74c8;
}

.control-group {
    padding:5px;
}

.control-label {
    display: inline-block;
}

.control-label::after {
    content: ":";
}
