body {
    background: #020B21;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

#left {
    width: calc(50% - 10px);
    float: left;
    height: 100%;
}

#right {
    margin-left: calc(50% + 10px);
    height: 100%;
}

#divider {
    position: fixed;
    left: 50%;
    z-index: -1;
    height: 100%;
    top: 20px;
    border-left: 1px solid #0e1f2e;
}

a {
    color: white;
    text-decoration: none;
}

.smaller {
    color: gray;
}

.error-image {
    display: block;
    margin: 10vw auto;
    max-width: 100%;
}

/** Footer */
.footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 20px;
    width: 100%;
    background: #051437;
    opacity: 0.8;
    border-top: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.online-admin-container {
    vertical-align: middle;
}

#calendar{
    border:1px solid #3a7cb6;
    padding-top:10px;
}
caption{
    color:white;
    text-align: center;
    border-bottom:0;
}
.fc-toolbar{
    padding:10px;
}

.permban-table{
    width:60%;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border:none;
}

.footer span, .footer div {
    vertical-align: middle;
}

.online-admin {
    padding-top: 5px !important;
    color: white;
    font-weight: bolder;
    opacity: 1;
    z-index: 900;
    font-size: medium !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #122551;
    color:white;
    border:1px solid #3a7cb6;
}

button, input{
    color:black;
}

a:hover{
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #142d68;
    border:1px solid #3a7cb6;
    color:white;
}

.nav{
    border-bottom:1px solid #3a7cb6;
    text-align: center;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
.tab-pane{
    padding:20px;

}

.calendar-view{
    width:60%;
    margin: 0 auto;
}

.label {
    background: #9a0000;
    text-align: center;
    padding:5px;
    font-weight: normal;
    border-radius: 0;
    font-size:small;
}

.label-warning {
    background: #420005;
}

.label-default {
    background: #2A3F6F;
    color: white;
}

.label-primary {
    background: #0039bd;
}

.label-std {
    background: #2A3F6F;
    display: inline-block;
    margin: 2px;
}

.label-success {
    background: #00b51c;
    color: #000;
}

.userSearchTextfield{
    padding:0;
    width:200px;
    margin:0;
    border:none;
    height:32px;
}


.userSearchButton {
    height:32px;
    outline: none;
    font-size:large;
    color:white;
    background:#2A3F6F;
    transition: 200ms;
    cursor: pointer;
}

.btn:hover{
    color:white;
}

.userSearchButton:hover {
    background: #345591;
    transition: 200ms;
}

#myChart {
    padding: 0;
    left: 0;
    overflow: hidden;
}

#userLocationMap {
    height: 320px;

}

.custom-control-group {
    width: 360px;
    margin: 10px;
    padding:10px;
    border:none;
    white-space: nowrap;
}

.custom-control-group input {
    border-radius: 4px;
    height: 20px;
    padding: 5px;
    outline: none;
}

.from-to-counter {
    font-size: large;
    padding:10px;
}

.pointer-cursor {
    cursor: pointer;
}

.custom-control-group-password {
    width: 30%;
    padding: 15px;
}

#pwdChangeBtn {
    padding: 10px;
    display: block;
}

.big-font {
    font-size: large !important;
}

.flag-icon {
    margin-right: 8px;
}

.content {
    padding-bottom: 20px;
}

@media screen and (max-width: 680px) {
    #left {
        width: 100%;
        height: 50%;
    }

    #divider {
        display: none;
    }

    #right {
        width: 100%;
        margin-left: 0%;
        padding-top: 20px;
        height: 50%;
    }
}

/* Rank Labels */
.label-god {
    background-color: #FF5722;
}

.label-headadmin {
    background-color: #D84315;
}

.label-admin {
    background-color: #3D5AFE;
}

.label-mod {
    background-color: #1565C0;
}

.label-member {
    background-color: #004D40;
}

.label-recruit {
    background-color: #00695C;
}

.label-regular {
    background-color: #546E7A;
}

.label-guest {
    background-color: #37474F;
}

.label-friend{
    background-color: #5c5c5c;
}