.navbar {
    width: 100%;
    background: #051437;
    text-align: center;
    top: 0 !important;
    padding:0;
    margin-bottom: 15px;
    cursor: default;
}
.navbar ul {
    text-align: left;
    display: inline;
    margin: 0;
    left: 0;
    list-style: none;
}

.navbar ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 0px;
    background: #051437;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar ul li:hover {
    background: #122551;
    color: #fff;
}
.navbar ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 200;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
.navbar ul li ul li {
    background: #051437;
    display: block;
    color: #fff;
    opacity: 0.9;
    text-shadow: 0 -1px 0 #000;
}
.navbar ul li ul li:hover { background: #122551; }
.navbar ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.navbar a, .navbar span {
    display: block;
    padding: 15px 30px;
}

.navbar a {
    display: block;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
