@import "materialize";
@import "main";


.message{
  background-color: $primary-color;
  margin-bottom: 10px !important;
  padding:10px !important;
}

.chat-component {

  .small > div{
    width:60%;
    margin:auto;
  }


  .chatlog-div{
    margin-bottom:20px;
  }

  .row {
    margin-bottom: 0;
    position: relative;
  }

  .show-conv-link{
    cursor: pointer;
  }

  .chatlog-table{
    .message-part{
      background: transparent;
    }

    .message-team{
      background: $primary-color-light,5%;
    }

    .message-scope{
      background: $primary-color-light;
      text-align: center;
    }

    .message-author{
      padding:5px;
      margin:auto;
      text-align: center;
      vertical-align: middle;
      background: $primary-color-light;
    }

    .message-text{
      background: $primary-color;
      padding:5px !important;
      border: 1px solid $secondary-color !important;
    }

    .message-end{
      > td{
        font-size:small;
        text-align: right;
        font-weight: light;
      }
    }

    .message-start{
    }

    th{
      color:white !important;
      font-weight: lighter;
    }
  }

  .animate-enter,
  .animate-leave
  {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
  }

  .animate-enter.animate-enter-active,
  .animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
  }

  .animate-leave.animate-leave-active,
  .animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
  }
}