@import "materialize";
@import "vex/vex";
@import "vex/vex-theme-os";

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}
.cursor{
  cursor: pointer;
}


body {
  background-color: $primary-color-light;
  color: white;
}

.accent{
  color:$secondary-color;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.card-action > time {
  font-weight: lighter;
}

.card-image {
  opacity: 1;
  vertical-align: middle;
  margin:auto !important;
}

.card-action {
  padding: 2px;
  margin: 0;
}

td, th, tr {
  padding: 2px !important;
}

a {
  color: white !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.glow-blue{
  animation-duration: 1s;
  animation-name: glowblue;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glowblue {
  from {
    color: #3100ff;
  }

  to {
    color: #0086ff;
  }
}

.penalty-form{
  select, input{
    width:60%;
    margin:auto;
  }
}



.status-component {

  .god-icon {
    animation-duration: 1s;
    animation-name: changeglow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }


  tr:hover{
    background-color: $primary-color-light !important;
  }

  @keyframes changeglow {
    from {
      color: #ffd54f;
    }

    to {
      color: #ff6f00;
    }
  }

  .player-status-name {
    width: 150px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .status-flag {
    bottom: +8px;
  }

  .rowlink::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5em; /* don't forget to set the height! */
  }
}

.vex.vex-theme-os .vex-close:before {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  content: "\00D7";
  font-size: 26px;
  font-weight: normal;
  line-height: 31px;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 3px;
  right: 3px;
  color: #bbb;
  background: transparent;
}

.vex.vex-theme-os .vex-close:hover:before, .vex.vex-theme-os .vex-close:active:before {
  color: #777;
  background: #e0e0e0;
}

.vex.vex-theme-os .vex-dialog-form .vex-dialog-input textarea,
.vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="date"],
.vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="datetime"],
.vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="datetime-local"],
.vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="email"],
.vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="month"],
.vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="number"],
.vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="password"],
.vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="week"] {

  background: #fff;
}

.vex.vex-theme-os .vex-dialog-form .vex-dialog-input textarea:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="date"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="email"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="month"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="number"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="password"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="search"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="tel"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="text"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="time"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="url"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
  -moz-box-shadow: inset 0 0 0 1px #3288e6;
  -webkit-box-shadow: inset 0 0 0 1px #3288e6;
  box-shadow: inset 0 0 0 1px #3288e6;
  outline: none;
}

.vex.vex-theme-os .vex-dialog-button.vex-dialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.vex.vex-theme-os .vex-dialog-button.vex-dialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}








/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
/*.ui-view-container {
  position: relative;
  height: 65px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}
*/
