@import "materialize";

.user-component {
  .italic {
    font-weight: lighter;
    font-style: italic;
  }

  .collection-button{
    padding-left:2px !important;
    padding-right:2px !important;
    padding-top:0px;
    padding-bottom:0px;
  }

  .highlight {
    text-decoration: underline;
  }

  .collection-item > .right {
    font-weight: lighter;
    font-style: italic;
  }

  .collection {
    border-left: none;
    border-right: none;
    border-top: none;
    margin-right: 24px;
  }

  .collapsible-body > .collection {
    border-color: $primary-color-dark;

    > li {
      background-color: $primary-color-light;
    }
    /*
        &:hover {
          background-color: $secondary-color;
        };*/
  }

  .row {
    margin-top: 10px;
  }

  .penalty-form {
    margin: 20px;
  }

  #user-location-map-wrapper {
    height: 400px !important;

  }

  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: $primary-color;
    color: $font-color !important;
  }

  .leaflet-control-attribution {
    background: $primary-color;
    opacity: 0.4;
    color: $font-color;
  }

  #user-location-map {
    width: 100%;
    height: 100%;
    padding-top: 0;
    margin-top: 0;
  }
}