@(title: String, loggedInUser: UtAdminUser)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="icon" type="image/png" href="/assets/favicons.png">
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
     <!--   <link type="text/css" rel="stylesheet" href="@routes.Assets.at("css/materialize.min.css")"  media="screen,projection"/>-->


    </head>

    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/deps/materialize/js/materialize.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/Main.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.timeago.js")"></script>

        <ul id="users-dropdown" class="dropdown-content">
            <li><a href="@routes.Application.userlist(count = 45, offset = 0, title = "Users", minLevel = 0, displaySearchField = true)">All</a></li>
            <li><a href="/admin-list">Admins</a></li>
            <li><a href="/clan-list">Clan Members</a></li>
        </ul>

        <ul id="penalties-dropdown" class="dropdown-content">
            <li><a href="/adminbans">Admin Bans</a></li>
            <li><a href="/notices">Notices</a></li>
            <li><a href ="/allbans">All Penalties</a></li>
            @if(loggedInUser.rank==0){
                <li><a href ="/permbanlist">Banlist.txt (Experimental)</a></li>
            }
        </ul>

        <ul id="account-dropdown" class="dropdown-content">
            <li><a href="/auth/logout"> <i class="fa fa-sign-out"></i> Logout</a></li>
            <li><a href="/password-change"><i class="fa fa-key"></i> Change Password</a></li>
            @if(loggedInUser.rank == 0) {
                <li>
                    <a href="/accounts">
                        <i class="fa fa-user-plus"></i>
                        User Administration
                    </a>
                </li>
            }
        </ul>

        <nav>
            <div class="nav-wrapper">
                <a href="@routes.Application.index()" class="brand-logo">DrunkNoobs</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    <li><a class="dropdown-button" href="#!" data-activates="users-dropdown">Users<i class="material-icons right">arrow_drop_down</i></a></li>

                    <li><a class="dropdown-button" href="#!" data-activates="penalties-dropdown">Penalties<i class="material-icons right">arrow_drop_down</i></a></li>

                    <li><a class="dropdown-button" href="#!" data-activates="account-dropdown"><i class="material-icons">account_circle</i></a>
                    </li>
                </ul>
            </div>
        </nav>

        @content


        <footer class="page-footer">
            <div class="container">
                <div class="valign-wrapper">
                    <div class="valign">
                        @for(u <- MongoLogger.getLoggedInUsers) {
                            <span class="badge">@u</span>
                        }
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
