@(loggedInUser: UtAdminUser)

<!DOCTYPE html>
<html>
    <head>
        <title>UtAdmin</title>
        <link rel="icon" type="image/png" href="/assets/favicons.png">
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/materialize.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <script src="@routes.Assets.at("javascripts/deps/sweet-alert.min.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("javascripts/deps/sweet-alert.css")">
        <script src="@routes.Assets.at("javascripts/deps/sweet-prompt.min.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("javascripts/deps/sweet-prompt.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("javascripts/deps/macgyver/macgyver.css")">

        <script type="text/javascript" src="@routes.Assets.at("javascripts/deps/materialize/js/materialize.min.js")"></script>
    </head>

    <body ng-app="UtAdmin">
        <header class="page-header">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/deps/angular-timeago/angular-timeago-core.min.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/deps/angular-timeago/time-ago-language-en_US.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/deps/angular.ng-modules.js")"></script>

            <script type="text/javascript" src="@routes.Assets.at("javascripts/deps/spin.min.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/deps/angular-spinner.min.js")"></script>


            <script type="text/javascript" src="@routes.Assets.at("javascripts/deps/macgyver/macgyver.min.js")"></script>


            <script src="@routes.Assets.at("javascripts/deps/vex/js/vex.combined.min.js")"></script>
            <script>vex.defaultOptions.className = 'vex-theme-os'</script>


            <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/modules.js")"></script>

            <nav ng-controller="ModulesCtrl" ng-init="init()">
                <div class="nav-wrapper">
                    <a href="/#status" class="brand-logo hide-on-med-and-down">DrunkNoobs</a>
                    <ul id="nav-mobile" class="right">
                        <li><a href="" ng-click="update('status')">Status</a></li>
                        <li><a href="" ng-click="update('chat')">Chat</a></li>
                        <li><a href="" ng-click="update('users')">Users</a></li>
                        <li><a href="" ng-click="update('penalties')">Penalties</a></li>
                        <li><a href="" ng-click="update('account')"><i class="material-icons">account_circle</i></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="page-main">
            @status(loggedInUser)
            @chatlog()
            <span id="user-module">
            </span>
        </main>
    </body>
</html>
