@(user: UtAdminUser)
@baseTemplate("Password Change", user) {
    <link href="@routes.Assets.at("stylesheets/sweet-alert.css")" rel="stylesheet"/>
    <script src="@routes.Assets.at("javascripts/passwordChanger.js")"></script>
    <script src="@routes.Assets.at("javascripts/sweet-alert.min.js")"></script>


    <div align="center">
        <i class="fa fa-key"></i>Change password for <b><i>'@user.main.userId'</i></b>
    </div>
    <div align="center">
        <div class="custom-control-group custom-control-group-password">
            <label for="passwordTf">New Password:</label>
            <input type="password" id="passwordTf" placeholder="Password">
            <span class="btn-simple" id="pwdChangeBtn">Change!</span>
        </div>
    </div>
}
