<div class="module">

    <div class="row">
        <div class="row search-row">
            <div class="input-field col s5 push-s1" id="chat-search-field">
                <input id="penalties-search" type="text" ng-model="$ctrl.state.queryString" mac-pause-typing="$ctrl.cleanUpdate()" >
                <label for="penalties-search">Search Reason</label>
            </div>
            <div class="input-field col s3 push-s1" id="chat-search-field">
                <input id="penalties-user-id-search" type="number" ng-model="$ctrl.state.userId" mac-pause-typing="$ctrl.cleanUpdate()">
                <label for="penalties-user-id-search" id="penalties-user-id-search-label">User Id</label>
            </div>
            <div class="input-field col s2 push-s1">
                <select ng-model="$ctrl.state.filterType" ng-change="$ctrl.cleanUpdate()" material-select>
                    <option selected value>Any</option>
                    <option value="Notice">Notice</option>
                    <option value="Kick">Kick</option>
                    <option value="Warning">Warning</option>
                    <option value="TempBan">TempBan</option>
                    <option value="Ban">Ban</option>
                </select>
                <label>Penalty Type</label>
            </div>
        </div>

        <div ng-show="!$ctrl.updating && $ctrl.penalties.length==0" ng-cloak>
            <div class="row">
                <div class="col s4 push-s4">
                    <div class="card-panel center center-align" ng-cloak>
                        <span ng-if="!$ctrl.state.userId">There ware no penalties matching your query!</span>
                        <span ng-if="$ctrl.state.userId">No penalties for user #{{$ctrl.state.userId}}! <i class="material-icons green-text">sentiment_very_satisfied</i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s10 push-s1">
            <div infinite-scroll='$ctrl.nextPage()' infinite-scroll-disabled='$ctrl.busy||!$ctrl.infiniteScroll' i
            nfinite-scroll-distance='1' ng-cloak>
                <div class="card-panel center hoverable" ng-show="$ctrl.penalties.length!=0">
                    <table class="bordered highlight">
                        <thead>
                            <tr>
                                <th><mac-spinner ng-show="$ctrl.updating" mac-spinner-color="white"/>Type</th>
                                <th>User</th>
                                <th>Reason</th>
                                <th ng-show="$ctrl.state.filterType != 'Kick' && $ctrl.state.filterType != 'Ban'">Expires</th>
                                <th ng-show="$ctrl.state.filterType != 'Kick' && $ctrl.state.filterType != 'Ban'">Duration</th>
                                <th>Admin</th>
                                <th>Added</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody ng:repeat="penalty in $ctrl.penalties">
                            <tr>
                                <td mac-tooltip="{{penalty.penalty}} Id:{{penalty.penaltyId}}" mac-tooltip-direction="right">
                                    <i class="material-icons" ng-if="penalty.penalty == 'Notice'">note</i>
                                    <i class="material-icons" ng-if="penalty.penalty == 'Kick'">block</i>
                                    <i class="material-icons" ng-if="penalty.penalty == 'Warning'">error</i>
                                    <span ng-if="penalty.penalty == 'TempBan'">
                                        <i class="material-icons amber-text" >hourglass_empty</i>
                                        <i class="material-icons amber-text" >sentiment_very_dissatisfied</i>
                                    </span>
                                    <i class="material-icons red-text" ng-if="penalty.penalty == 'Ban'">sentiment_very_dissatisfied</i>
                                </td>
                                <td>
                                    <user-name b3id="penalty.playerId" name="penalty.playerName"></user-name>
                                </td>
                                <td>{{penalty.reason | urtstring}}</td>
                                <td ng-show="$ctrl.state.filterType != 'Kick' && $ctrl.state.filterType != 'Ban'">
                                    <span ng-show="penalty.expires!=0">{{penalty.expires | date:'d.MM.yy hh:mm:ss'}}</span>
                                </td>

                                <td ng-show="$ctrl.state.filterType != 'Kick' && $ctrl.state.filterType != 'Ban'">
                                    <span ng-if="penalty.duration">{{ penalty.duration | secondsToDuration}}</span>
                                </td>
                                <td>
                                    <user-name ng-show="penalty.adminId!=0" name="penalty.adminName" b3id="penalty.adminId"></user-name>
                                    <span ng-show="penalty.adminId==0" class="text-blue">B3</span>
                                </td>

                                <td><span class="time-stamp" mac-tooltip="{{penalty.created | date:'medium'}}" mac-tooltip-direction="top">{{penalty.created/1000 | timestamp}}</span></td>
                                <td class="btn btn-flat" ng-click="$ctrl.delete(penalty.penaltyId)"><i class="material-icons">delete_forever</i></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div align="center" class="bottom-spinner">
                    <spinner ng-show="$ctrl.busy" disable-animation></spinner>
                </div>
            </div>
        </div>
    </div>
</div>