@(penalties: Seq[Penalty],
        showPlayerName: Boolean,
        showType: Boolean,
        showReason: Boolean,
        showExpires: Boolean,
        showCreatedOn: Boolean,
        showAdminName: Boolean,
        showRemoveButton: Boolean)
@import views.Color

<script src="@routes.Assets.at("javascripts/punish-remover.js")"></script>

<table >
    <tr>
        @if(showPlayerName) {
            <th>Player</th>
        }
        @if(showType) {
            <th>Type</th>
        }
        @if(showReason) {
            <th>Reason</th>
        }
        @if(showExpires) {
            <th>Expires</th>
        }
        @if(showCreatedOn) {
            <th>Created</th>
        }
        @if(showAdminName) {
            <th>Admin</th>
        }
        @if(showRemoveButton) {
            <th></th>
        }
    </tr>
    @for(penalty: Penalty <- penalties) {
        <tr>
            @if(showPlayerName) {
                <td>
                    <a href="@routes.Application.userById(penalty.playerId)">
                        @Color.colorize(penalty.playerName)
                    </a>
                </td>
            }

            @if(showType) {
                <td>

                @penalty.penalty
                </td>
            }
            @if(showReason) {
                <td>
                @Color.colorize(penalty.reason)
                </td>
            }

            @if(showExpires) {
                <td>
                @if(penalty.penalty == PenaltyHandler.Kick || penalty.penalty == PenaltyHandler.Notice) {
                    <div class="label label-default label-simple">@penalty.penalty only</div>
                } else {
                    @penalty.expires match {
                        case None => {
                            <div class="label label-danger">Permanent
                                @if(penalty.inactive) {
                                    <div class="label label-success">(Unbanned)</div>
                                }
                            </div>
                        }
                        case Some(x) if x.isBeforeNow => {
                            <div class="label label-default label-simple">@x.toString("dd.MM.yy (HH:mm:ss)")</div>
                        }
                        case Some(x) => {
                            <div class="label label-warning">@x.toString("dd.MM.yy (HH:mm:ss)")</div>
                        }
                    }
                }
                </td>
            }

            @if(showCreatedOn) {
                <td>@penalty.created.toString("dd.MMM.yyyy (hh:mm:ss)")</td>
            }
            @if(showAdminName) {
                @if(penalty.adminId == 1) {
                    <td>Web-Admin</td>
                } else {
                    <td><a href="@routes.Application.userById(penalty.adminId)">@penalty.adminName</a></td>
                }
            }

            @if(showRemoveButton) {
                <td>
                    <div class="btn-container">
                    <span class="btn-simple"
                    onclick="removePunishment(@penalty.penaltyId);">
                        <i class="material-icons red-text" id="@penalty.penaltyId">remove_circle_outline</i>
                    </span>
                    </div>
                </td>
            }
        </tr>
    }
</table>