@(playerId: Int, playerName: String, loggedInUser: UtAdminUser)

<link href="@routes.Assets.at("stylesheets/punish.css")" rel="stylesheet">

<div class="punish-container">
    Add a punishment <i class="fa fa-arrow-right"></i>
        <label for="penaltyTypeSelect">Type:</label>
    <select class="form-control" id="penaltyTypeSelect">
        <option value="@PenaltyHandler.Warning">Warning</option>
        <option value="@PenaltyHandler.Notice">Notice</option>
        @if(loggedInUser.rank != Ranks.Mod) {
            <option value="@PenaltyHandler.TempBan">TempBan</option>
        }
            <!--    <option value="@PenaltyHandler.Ban">Ban</option>-->
    </select>
    <label for="durationSelect">Duration:</label>
    <select class="form-control" id="durationSelect">
        <option value="@PenaltyDuration.One_day">@PenaltyDuration.One_day.toString</option>
        <option value="@PenaltyDuration.Two_days">@PenaltyDuration.Two_days.toString</option>
        <option value="@PenaltyDuration.One_week">@PenaltyDuration.One_week.toString</option>
        <option value="@PenaltyDuration.Two_weeks">@PenaltyDuration.Two_weeks.toString</option>
        <option value="@PenaltyDuration.One_month">@PenaltyDuration.One_month.toString</option>
    </select>
    <label for="reasonTf">Reason:</label>
    <input type="text" class="form-control" id="reasonTf" placeholder="Tk, Sk, etc.">
    <button id="PunishButton" type="button">Punish!</button>
</div>
