@(banlist: Array[String], directlyAffected: Map[String, List[Username]], loggedInUser: UtAdminUser)

@baseTemplate("Permban List", loggedInUser) {
    <table class="table online-table table-highlight permban-table">
        <caption>Effective Bans</caption>
        <thead>
            <tr>
                <th>IP</th>
                <th>Affected Players</th>
        <tr></tr>
        </thead>

        <tbody>
        @for(ban <- banlist) {
            @if(directlyAffected.get(ban).isDefined) {
                <tr>
                    <td>
                    @ban
                    </td>
                    <td>

                    @for(player <- directlyAffected.get(ban).get) {
                        <a class="label label-danger" href="@routes.Application.userById(player.userId)">@player.name</a>
                    }

                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    <table class="table online-table table-highlight permban-table">
        <caption>Ineffective Bans</caption>
        <thead>
            <tr>
                <th>IP</th>
                <th>Affected Players</th>
        <tr></tr>
        </thead>
        <tbody>
        @for(ban <- banlist) {
            @if(directlyAffected.get(ban).isEmpty) {
                <tr>
                    <td>
                    <a href="@routes.Application.userSearch(ban.dropRight(2))">@ban</a>
                    </td>
                    <td>
                        No player directly affected
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}
