@(loggedInUser: UtAdminUser)

<!-- Angular Template to be used with status.component.js -->
<div class="container status-component" ng-cloak>
    <div class="row">
        <div class="col s6 push-s3">
            <div class="card horizontal">
                <div class="card-image">
                    <img src=http://cache.www.gametracker.com/images/graphs/server_players.php?GSID=5036943&start=-1d">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h6>@UtServer.name</h6>

                        <span>
                            {{$ctrl.count}}
                            Right now there<ng-pluralize count="$ctrl.players.length" when="{'0': '\'s nobody online.', 'one': '\'s 1 player online.', 'other': '\'re {} players online.'}"></ng-pluralize>
                            <br>
                            As well as @MongoLogger.getLoggedInUsers.length admins in UtAdmin.
                        </span>
                    </div>
                    <div class="card-action">
                        <a id="restartServerButton" class="btn btn-flat waves-effect" ng-click="$ctrl.status.restartServer()">Restart Server</a>
                        <a id="restartB3Button" class="btn btn-flat waves-effect" ng-click="$ctrl.status.restartB3()">Restart B3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="statusPanel">
        <div class="card-panel center">
            <table class="bordered highlight status-table">
                <thead>
                    <tr>
                        <th><mac-spinner ng-show="$ctrl.updating" mac-spinner-color="white"/></th>
                        <th>Name</th>
                        <th>Rank</th>
                        <th>Score</th>
                        <th>Ip</th>
                        <th>Online</th>
                        <th>PM</th>
                        <th>Chatlog</th>
                        <th>Punish</th>
                        <th>Penalties</th>
                        <th>Info</th>
                    </tr>
                </thead>

                <tbody ng:repeat="player in $ctrl.players" >
                    <tr>
                        <td>
                            <i class="material-icons {{player.t}}-text">label</i>
                            <span class="flag-icon flag-icon-{{player.cCd | lowercase}} status-flag" mac-tooltip="{{player.c}}" mac-tooltip-direction="top"></span>
                        </td>
                        <td><a ui-sref="user({b3id:{{player.id}}})">{{player.n | urtstring}}</a></td>
                        <td mac-tooltip="{{player.gr.name}}" mac-tooltip-direction="left">
                            <i class="material-icons grey-text" ng-show="{{player.gr.level}}==0">face</i>
                            <i class="material-icons grey-text text-lighten-2" ng-show="{{player.gr.level}}==1">face</i>
                            <i class="material-icons grey-text text-lighten-3" ng-show="{{player.gr.level}}==20">face</i>
                            <i class="material-icons grey-text" ng-show="{{player.gr.level}}==30">face</i>
                            <i class="material-icons green-text" ng-show="{{player.gr.level}}==40">face</i>
                            <i class="material-icons green-text" ng-show="{{player.gr.level}}==50">star</i>
                            <i class="material-icons amber-text" ng-show="{{player.gr.level}}==55">star</i>
                            <i class="material-icons red-text" ng-show="{{player.gr.level}}==70">star</i>
                            <i class="material-icons amber-text text-lighten-4" ng-show="{{player.gr.level}}==60">star</i>
                            <i class="material-icons god-icon" ng-show="{{player.gr.level}}>=80">stars</i>
                        </td>
                        <td>{{player.sc}}</td>
                        <td><a href="https://www.whoismyisp.org/ip/{{player.ip}}" target="_blank">{{player.ip}}</a></td>
                        <td>
                            <span class="time-stamp" mac-tooltip="{{ player.jo | date:'medium'}}" mac-tooltip-direction="top">{{player.jo/1000 | timestamp}}</span>
                        </td>
                        <td>
                            <span class="waves-effect btn-flat white-text" ng-click="$ctrl.status.pm(player.sId ,player.n,player.id)">
                                <i class="material-icons">message</i>
                            </span>
                        </td>
                        <td mac-tooltip="Show chatlog of {{player.n}}" mac-tooltip-direction="top">
                            <a class="waves-effect btn-flat" ui-sref="chat.user({b3id:{{player.id}}})">
                                <i class="material-icons accent">redo</i>
                            </a>
                        </td>
                        <td>
                            <a class="waves-effect btn-flat" ng-click="$ctrl.status.punishModal(player.sId, player.n)">
                                <i class="material-icons">pan_tool</i>
                            </a>
                        </td>
                        <td mac-tooltip="Show penalties of {{player.n}}" mac-tooltip-direction="top">
                            <a class="waves-effect btn-flat" ui-sref="penalties.user({b3id:{{player.id}}})">
                                <i class="material-icons accent">redo</i>
                            </a>
                        </td>
                        <td>
                            <a ui-sref="user({b3id:{{player.id}}})"><i class="material-icons accent">search</i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
