@(messages: Seq[ChatMessage],
        count: Int,
        offset: Int,
        loggedInUser: UtAdminUser)(implicit lang: play.api.i18n.Lang)

@baseTemplate("Server Status", loggedInUser) {
    <script>
            var count = @count ;
            var offset = @offset ;
    </script>

    <script src="@routes.Assets.at("javascripts/RestartHandler.js")"></script>
    <script src="@routes.Assets.at("javascripts/OnlinePlayerActions.js")"></script>
    <script src="@routes.Assets.at("javascripts/StatusUpdater.js")"></script>


        <div class="row">
            <div class="col s6" id="statusPanel">
               <!-- <div class="restart-button-container">
                    <span class="server-info">@UtServer.name</span>
                    <span class="restart-server-button" id="restartServerButton">Restart Server</span>
                    <span class="restart-server-button restart-b3-button" id="restartB3Button">Restart B3</span>
                </div>-->

            </div>
            <div class="col s6">
              <!--  <div id="chatbox">
                    <div class="talkback-group">
                        <a id="chatlog-all" href="/chatlog">Complete Chatlog</a>
                        <span id="include-radio-container">
                            Radio<input id="includeRadioCheckbox" type="checkbox" title="Radio">
                        </span>
                        <input type="text" id="talkback"><button id="say">Say!</button>
                    </div>
                    <span id="chat-div">-->

                    @chatlog(messages, count, offset, true, false)
                  <!--  </span>
                </div>-->

        </div>
    </div>
        <!--  <script src=" @routes.Assets.at("javascripts/Talkback.js")"></script> -->

    }
