@(loggedInUser: UtAdminUser)(implicit lang: play.api.i18n.Lang)

    @baseTemplate("Server Status", loggedInUser) {
        <script src="@routes.Assets.at("javascripts/restart-handler.js")"></script>

        <script src="@routes.Assets.at("javascripts/online-player-actions.js")"></script>

        <script src="@routes.Assets.at("javascripts/status.js")"></script>


        <div class="row">
            <div class="col s4 push-s4">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><span class="center">@UtServer.name</span><i class="material-icons">settings</i></div>
                        <div class="collapsible-body">
                            <div class="row"></div>
                            <div class="row">
                                <div class="center">
                                    <span class="btn-flat btn-small red white-text" id="restartServerButton">Restart Server</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="center">
                                    <span class="btn-flat btn-small red restart-b3-button white-text" id="restartB3Button">Restart B3</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div id="statusPanel"></div>
    }
