@(loggedInUser: UtAdminUser)

<div class="user-component">

        <!-- User Location Map -->
    <div class="z-depth-4 animated fadeInDown">
        <div id="user-location-map-wrapper">
            <div id="user-location-map" class="black"></div>
        </div>
    </div>

    <div class="row">
        <div align="center" class="animated fadeIn">
            <online-actions b3id="$ctrl.user.b3Id" size="small" name="{{$ctrl.user.currentName}}"></online-actions>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <ul class="collapsible z-depth-3 animated fadeInLeftBig" data-collapsible="expandable">
                    <!-- Name and Aliases -->
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons accent">face</i>
                        <span class="left">
                            <span class="highlight">{{$ctrl.user.currentName}}</span> from {{$ctrl.countryName}}
                        </span>
                        <span class="center-align">
                                &nbsp;is a {{$ctrl.user.group.name}}

                            <span ng-show="{{$ctrl.user.maskedAs}}">
                                and <span class="highlight">masked as {{$ctrl.user.maskedAs.name}}</span>
                            </span>
                        </span>
                        <span class="right">
                            and has
                            <span class="highlight">
                                <ng-pluralize count="$ctrl.user.aliases.length" when="{'0': '\'s no alias.', 'one': '\'s 1 alias.', 'other': '\'s {} aliases.'}"></ng-pluralize>
                            </span>
                        </span>
                    </div>

                    <div class="collapsible-body">
                        @if(loggedInUser.rank == Ranks.God || loggedInUser.rank == Ranks.Admin) {
                            <br> <br>
                            <div>
                                <div class="input-field" style="width:50% ; margin:auto ;" >
                                    <select ng-model="$ctrl.groupBits" ng-change="$ctrl.changeGroup()" material-select>
                                    @for(group <- B3GroupController.getGroups()) {
                                        <option value="@group.bits">@group.name</option>
                                    }
                                    </select>
                                    <label>Change Rank</label>
                                </div>
                            </div>
                            <br> <br>
                        }
                        <ul class="collection" ng-repeat="alias in $ctrl.user.aliases  | orderBy:'lastUsed' : true">
                            <li class="collection-item">
                            {{alias.name}}
                                <span class="right">
                                used {{alias.usedCount}}
                                    x last
                                    <span class="time-stamp" mac-tooltip="{{alias.lastUsed | date:'medium'}}" mac-tooltip-direction="top">{{alias.lastUsed | timestamp}}</span>
                                </span>
                            </li>
                        </ul>
                    </div>

                </li>

                    <!-- IP and Aliases -->
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons accent">settings_ethernet</i>
                        last connection via <span class="highlight">
                        <a href="https://www.whoismyisp.org/ip/{{$ctrl.user.currentIp}}" target="_blank" class="waves-effect waves-light" >{{$ctrl.user.currentIp}}</a></span>
                        <span class="right"> and <span class="highlight">{{$ctrl.user.ipAliases.length}}</span> other IPs in the past</span>
                    </div>


                    <div class="collapsible-body" ng-show="$ctrl.user.ipAliases.length!=0">
                        <ul class="collection" ng-repeat="ip in $ctrl.user.ipAliases | orderBy:'lastUsed' : true">

                            <li class="collection-item">
                                <a href="https://www.whoismyisp.org/ip/{{ip.ip}}" target="_blank" class="waves-effect waves-light btn-flat">{{ip.ip}}</a>
                                <span class="right">{{ip.usedCount}}   x last
                                    <span class="time-stamp" mac-tooltip="{{ip.lastUsed | date:'medium'}}" mac-tooltip-direction="top">{{ip.lastUsed | timestamp}}</span>
                                </span>
                            </li>

                        </ul>
                    </div>
                </li>


                    <!-- Xlrstats-->
                <li>
                    <div class="collapsible-header">
                        <span class="left">
                            <i class="material-icons accent">stars</i>XlrStats-Id <span class="highlight">{{$ctrl.user.xlrId}}</span>
                        </span>
                        <span class="right">
                            <a href="http://xlrstats.drunknoobs.com/index.php?func=player&playerdbid={{$ctrl.user.b3Id}}&config=1" class="waves-effect waves-light" target="_blank">
                                <i class="material-icons accent">redo</i></a>
                        </span>
                    </div>

                    @if(loggedInUser.rank == Ranks.God || loggedInUser.rank == Ranks.Admin) {

                        <div class="collapsible-body">
                            <div class="center-align">
                                <div class="row">
                                    <div class="switch">
                                        <label>
                                            Visible
                                            <input id="xlrstats-visibility-switch" type="checkbox" ng-model="$ctrl.user.xlrVisible" ng-change="$ctrl.updateXlrVisibility()">
                                            <span class="lever"></span>
                                            Hidden
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </li>


                <li>
                    <div class="collapsible-header">
                        <span class="left">
                            <i class="material-icons accent">pan_tool</i> collected
                            <span class="highlight">{{$ctrl.user.penaltyCount}}</span> penalties
                        </span>
                        <span class="right">
                            <a ui-sref="penalties.user({b3id:$ctrl.user.b3Id})" class="waves-effect waves-light">
                                <i class="material-icons accent">redo</i>
                            </a>
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <div class="penalty-form">
                            <br>
                            Add a punishment <i class="fa fa-arrow-right"></i>
                            <label for="penaltyTypeSelect">Type:</label>
                            <select class="form-control" id="penaltyTypeSelect" ng-model="$ctrl.ban.type" ng-change="$ctrl.banTypeChanged()" material-select>
                                <option value="@PenaltyHandler.Warning">Warning</option>
                                <option value="@PenaltyHandler.Notice">Notice</option>
                                @if(loggedInUser.rank != Ranks.Mod) {
                                    <option value="@PenaltyHandler.TempBan">TempBan</option>
                                }
                            </select>
                            <span ng-show="$ctrl.ban.type != '@PenaltyHandler.Notice'">
                                <label for="durationSelect">Duration:</label>
                                <select class="form-control" id="durationSelect" ng-model="$ctrl.ban.duration" material-select>
                                    <option value="@PenaltyDuration.One_day">@PenaltyDuration.One_day.toString</option>
                                    <option value="@PenaltyDuration.Two_days">@PenaltyDuration.Two_days.toString</option>
                                    <option value="@PenaltyDuration.One_week">@PenaltyDuration.One_week.toString</option>
                                    <option value="@PenaltyDuration.Two_weeks">@PenaltyDuration.Two_weeks.toString</option>
                                    <option value="@PenaltyDuration.One_month">@PenaltyDuration.One_month.toString</option>
                                </select>
                            </span>
                            <label for="reasonTf">Reason:</label>
                            <input type="text" id="reasonTf" class="form-control" ng-model="$ctrl.ban.reason" placeholder="Tk, Sk, etc.">
                            <span class="btn" ng-click="$ctrl.punishPlayer()"><i class="material-icons left accent">pan_tool</i>Confirm</span>
                            <br>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div class="col s6">
            <ul class="collection z-depth-3 animated fadeInRightBig">
                <li class="collection-item">
                    connected a total of <span class="highlight">{{$ctrl.user.numberOfConnections}}</span> times
                    <span class="secondary-content"><i class="material-icons accent">reorder</i></span>
                </li>

                <li class="collection-item">
                    <span class="highlight">{{$ctrl.user.guid}}</span>
                    <span class="secondary-content"><i class="material-icons accent">fingerprint</i></span>
                </li>

                <li class="collection-item">
                    played <span class="highlight">{{ $ctrl.user.totalTimeOnServer | secondsToDuration}}</span>
                    <span class="secondary-content"><i class="material-icons accent">timer</i></span>
                </li>
                <li class="collection-item">
                    first seen on <span class="highlight">{{$ctrl.user.firstSeen*1000 | date:'d.MM.yy hh:mm'}}</span>
                    and last seen
                    <span class="highlight"><span class="time-stamp" mac-tooltip="{{$ctrl.user.lastSeen | date:'medium'}}"
                    mac-tooltip-direction="top">{{$ctrl.user.lastSeen | timestamp}}</span>
                    </span>
                    <span class="secondary-content"><i class="material-icons accent">remove_red_eye</i></span>
                </li>
                <li class="collection-item">
                    <a ui-sref="chat.user({b3id: $ctrl.user.b3Id})" class="waves-effect waves-light">Check {{$ctrl.user.currentName}}'s chatlog…</a>
                    <span class="secondary-content">
                        <a ui-sref="chat.user({b3id: $ctrl.user.b3Id})" class="waves-effect waves-light"><i class="material-icons accent">redo</i></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

