@(users: Seq[Username], loggedInUser: UtAdminUser)(implicit lang: play.api.i18n.Lang)
    @import views.Color

    @baseTemplate("User Search", loggedInUser){
        <script src="@routes.Assets.at("javascripts/Usersearch.js")"></script>

        <div align="center">
            <div class="custom-control-group">
                <input type="text" class="userSearchTextfield" placeholder="Username, IP, or GUID" size="80">
                <button class="userSearchButton">Search!</button>
            </div>
        </div>

        <table class="online-table table-highlight std-margin">
        @if(users.nonEmpty) {
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Used</th>
                <th>Last Seen</th>
            </tr>
            @users.map { user =>
                <tr onclick="window.location='/user?id=@user.userId';">
                    <td>@Color.colorize(user.name)</td>
                    <td>@user.userId</td>
                    <td>@user.usedCount</td>
                    <td>
                    @user.lastUsed.toString("dd.MMM.yyyy (HH:mm:ss)", lang.toLocale)
                    </td>
                </tr>
            }
        } else {
            <tr>
                <td>
                    No users match query!
                </td>
            </tr>
        }
        </table>
    }